.form_general {
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50%;
  width: 30%;
  margin-left: 30%;
  margin-top: 20%;
  background-color: lightgray;
  border-color: black;
  border-width: 2px;
}
